---
title:	Corp-Info
---

	<header class="banner">
		<ul class='menu_top clearfix'>
			<li><a href="index.html">Home</a></li>
			<li><a id="active" href="corp-info.html">Corp-Info</a></li>
			<li><a href="kalender.html">Kalender</a></li>
			<li><a href="memberbereich.html">Memberbereich</a></li>
			<li><a href="join_us.html">Join us!</a></li>
			<li><a href="citizenfinder.html">Citizen-Finder</a><li>
			<li><a href="partner.html">Partner</a><li>
		</ul>

	
	</header>


		<!-- CONTENT -->
<main role="main">
<article>
     
	<h1>Die Isle of Hope</h1>
 
<section>
	<h2>Eine Gaming-Community</h2>
    <p>
        Unsere Spuren lassen sich bis in das Jahr 2944 der Star-Citizen-Zeitlinie und bis 2014 der aktuellen Zeitlinie zurückverfolgen. 
		Gegründet, um Menschen mit gleichen Interessen zusammenzubringen, hat sich unsere Organisation zu einer vielseitigen Gemeinschaft entwickelt. 
		Unser Spielekontigent umfasst neben Star Citizen auch Titel wie Hellion, Empyrion: Galactic Survival und ARK: Survival Evolved, um die Zeit bis zum Release von Star Citizen zu überbrücken. 
		Unsere Philosophie lehnt das Strikte, Gezwungene ab und steht für lockeres Zusammenspielen, bei dem das Reallife und der Spa&szlig;faktor einzig und allein im Vordergrund stehen.<br><br>

        Aktuell gliedert die Corporation sich in drei Bereiche:<br>
        <b>&middot; Isle of Hope Enterprises</b>, der wissenschaftliche Bereich.	<br>
        <b>&middot; Isle of Hope Industries</b>, der Industrie-Bereich.<br>
        <b>&middot; Isle of Hope Guardians</b>, der Security-Bereich.<br><br>

        Daneben haben sich auch diverse einsatzspezifische Gruppen gebildet. Zurzeit wären diese:<br>
		<b>&middot; Squadron 49</b>, unsere Spezialeinheit für Flottenmanöver im Raum.<br>
		<b>&middot; Ground Team</b>, Einheit, speziell für Bodenkampf und Boardingmanöver ausgebildet.<br><br>

		Die einzige Sache, welche wir strikt ablehnen, ist Piraterie. Genauere Informationen zu allen angesprochenen Teams lassen sich im Reiter rechts finden.<br><br>
        CEOs (Leiter) der Corporation sind <a href="https://robertsspaceindustries.com/citizens/perry_hope"><font color="#009ECE">Perry Hope</font></a>, <a href="https://robertsspaceindustries.com/citizens/aetgar"><font color="#009ECE">Aetgar</font></a>, <a href="https://robertsspaceindustries.com/citizens/snapcount"><font color="#009ECE">SnapCount</font></a>, <a href="https://robertsspaceindustries.com/citizens/ihope_soulgard"><font color="#009ECE">SoulGuard</font></a> und <a href="https://robertsspaceindustries.com/citizens/sunrise007"><font color="#009ECE">Sunrise</font></a>, die jederzeit als Ansprechpartner dienen und zur Problembewältigung zur Verfügung stehen. 
		Daneben gibt es den Communications-Officer <a href="https://robertsspaceindustries.com/citizens/mechno"><font color="#009ECE">Mechno</font></a>, den Foreign-Relations-Officer <a href="https://robertsspaceindustries.com/citizens/captainthrax"><font color="#009ECE">CaptainThrax</font></a>, Recruting-Officer <a href="https://robertsspaceindustries.com/citizens/gospo"><font color="#009ECE">Gospo</font></a>, sowie die Corp-Offiziere, an welche man sich wenden kann.<br><br>
        Unsere Partner-Organisation ist die <a href="https://robertsspaceindustries.com/orgs/expg"><font color="#009ECE">Explorer Germany</font></a>, zu welcher wir eine äußerst gute Verbindung pflegen.
    </p>
        
</section>

<aside class="contact">
    <h2>weitere Informationen</h2>
	<ul class="bullets">
		<a class="button" href="cpinfoswl/gallerie.html">Bilder-Galerie</a><br>
		<a class="button" href="cpinfoswl/ihopeent.html" >Isle of Hope Enterprises</a><br>
		<a class="button" href="cpinfoswl/ihopeindu.html" >Isle of Hope Industries</a><br>
		<a class="button" href="cpinfoswl/ihopegur.html" >Isle of Hope Guardians</a><br>
		
		
	    
	</ul>
</aside>
</article> 
</main>
