---
title:	Isle of Hope
---

  <header class="banner">
    <ul class='menu_top clearfix'>
      <li><a id="active" href="index.html">Home</a></li>
      <li><a href="corp-info.html">Corp-Infos</a></li>
      <li><a href="Kalender.html">Kalender</a></li>
      <li><a href="Memberbereich.html">Memberbereich</a></li>
      <li><a href="Join us!.html">Join us!</a></li>
    <li><a href="Citizenfinder.html">Citizen Finder</a><li>
    <li><a href="Partner.html">Partner</a><li>
    </ul>

    <h1 class='logo_wrapper'>
      <a href="Startseite.html">
        <img src="" alt="" title="">
      </a>
    </h1>
  </header>

    <main>
      <div class='smallteaser clearfix'>
        <section>
          <header>
            <img src="images/icon/Logo_2_transp.png" alt="">
            <h2>Isle of Hope</h2>
            <h3>Infos über die Corporation<br></h3>
      
          </header>

          <p>
            <br>Die Isle of Hope - eine Spielergemeinschaft in Star Citizen.
      Hier findest du Informationen rund um die Isle of Hope. Angefangen von Gründungsinformationen bis hin zu Informationen über die Korporationstruktur. <br> <br>
            
           <br>
            <a class="more" href="Corp-Infos.html">Zu den Infos</a>
          </p>
        </section>

        <section>
          <header>
            <img src="images/icon/calendar.png" alt="">
            <h2>Kalender</h2>
      
      
            <h3>Termine zu Veranstaltungen<br></h3>
      
          </header>

          <p>
            <br>Hier findest du wichtige Termine, wie z. B. Spieleabende oder Treffen, sofern sie öffentlich sind. Organisationsinterne Veranstaltungen sind im Memberbereich zu finden, für welchen man Login-Daten braucht. 
            <br><br>
            <br>
            <a class="more" href="Kalender.html">Zum Kalender</a>
          </p>
        </section>

        <section>
          <header>
            <img src="images/icon/member.png" alt="">
            <h2>Memberbereich</h2>
      
            <h3>Login für Tools<br></h3>
          </header>

          <p>
            <br>
      Klick den netten Button unter diesem Feld, um zum internen Bereich zu kommen.
      <br><br><br><br><br>
      <br>
            <a class="more" href="#">Klick mich!</a>
          </p>
        </section>
      </div>

      <div class="bigteaser clearfix">
        <section>
          <img src="images/icon/spotlight.png" alt="">
          <h2><font color="#FFFFFF">Spotlight</font></h2>

          <p>
            Hier könnte dein äußerst ästhetisches, anmutigendes, süßes, putziges, gutaussehendes, charismatisches, kultiviertes Gesicht stehen 😁
            <br>
            <a class="more" href="#">Ich liebe Dich</a>
          </p>
        </section>

        <section>
          <img src="images/icon/facebook.png" alt="">
          <h2><font color="#FFFFFF">Social Media & Discord</font></h2>

          <p>
            Hier findest du Links zu unseren Social-Media Seiten, sowie zu Discord und Teamspeak.<br>  <br>
            <a class="more" href="Join us!.html">Alles klar!</a>
          </p>
        </section>
      </div>
    </main>
