---
title:	Memberbereich
---
	<header class="banner">
		<ul class='menu_top clearfix'>
			<li><a href="index.html">Home</a>
			<li><a href="corp-info.html">Corp-Info</a></li>
			<li><a href="kalender.html">Kalender</a></li>
			<li><a id="active" href="memberbereich.html">Memberbereich</a></li>
			<li><a href="join_us.html">Join us!</a></li>
			<li><a href="citizenfinder.html">Citizen-Finder</a></li>
			<li><a href="partner.html">Partner</a></li>
		</ul>

		
	</header>


		<!-- CONTENT -->
<main role="main">
 <article>
     
	<h1>Memberbereich</h1>
 
     <section>
	  <h2>Voll Underground und so</h2>
      <p>
        Diese Seite existiert, damit Navigationsleistenklicker nicht immer ungewollt auf den Memberbereich umgeleitet werden. Es grüßt der Verbraucherschutzbeauftragte für Navigationsleisten.
		
      </p>
        <p>
         Solltest du hingegen wissentlich hierhin geklickt haben, um auf den Memberbereich zu kommen, guck auf das Fenster unten. 
        
        <div class='smallteaser clearfix'>
          <section>
            <header>
              <img src="/images/icon/member.png" alt="">
              <h2>Memberbereich</h2>
			
              <h3>Login für Tools<br /></h3>
            </header>

            <p>
              <br>
			  Klick den netten Button unter diesem Feld, um zum internen Bereich zu kommen.
			  
			  <br />
              <a class="more" href="#">Klick mich!</a>
            </p>
        </section>
      </div>
	  <a clas="more" href="#">Ich liebe Dich</a>   
      </p>    
        
     </section>

 
    
	</ul>
 
 </article> 
</main>
