---
title:	Partner
---
	<header class="banner">
		<ul class='menu_top clearfix'>

			<li><a href="index.html">Home</a></li>
			<li><a href="corp-info.html">Corp-Info</a></li>
			<li><a href="kalender.html">Kalender</a></li>
			<li><a href="memberbereich.html">Memberbereich</a></li>
			<li><a href="join_us.html">Join us!</a></li>
			<li><a href="citizenfinder.html">Citizen-Finder</a></li>
			<li><a id="active" href="Partner.html">partner</a></li>
		</ul>


	</header>


	<!-- CONTENT -->
	<main role="main">
		<article>

			<h1>Partner</h1>

			<section>
				<h2>Unsere Partner-Organisationen</h2>

				<p>
					<div class='smallteaser clearfix'>
						<section class='papercard'>
							<header>
								<img src="img/icon/explogo.png" alt="">
								<h2>Explorer-Germany</h2>
								<h3>
									<center>&nbsp;&nbsp;&nbsp;Partner-Organisation</center>
								</h3>

							</header>

							<p>
								<br> Die Jungs von Explorer-Germany sind unsere &auml;ltesten Verbündeten und ein starker Partner im Verse. Informationen
								lassen sich aus dem Banner oben entnehmen, für weiteres sind die Webseite sowie die RSI-Seite unten aufgef&uuml;hrt.
								<br><br><br><br>


								<br />
								<div class="oudadiv">
									<a class="footerbuttons" href="http://youtube.explorer-germany.com/"><b class="text">Youtube</b></a>
									<a class="footerbuttons" href="http://rsi.explorer-germany.com/"><b class="text">RSI-Seite</b></a>
									<a class="footerbuttons" href="http://explorer-germany.com/"><b class="text">Webseite</b></a>
								</div>

							</p>
						</section>
					</div>


				</p>
				<p>
					<br>
				</p>
				<p>
					<br>
				</p>
			</section>


		</article>
	</main>
